body {
    font-family: Arial, sans-serif;
    background-color: black;
    color: rgb(255, 255, 255);
    padding: 20px;
}


.container {
    display: flex;
    justify-content: space-between;
    
}
.main-content {
    flex: 2;
    padding-right: 20px;
}


.sidebar {
    flex: 1;
    background-color: #f80808;
    padding: 15px;
    border-radius: 10px;
    text-align: center;
}


.music-list img {
    width: 100px;
    height: auto;
    margin-top: 30px;
    border-radius: 5px;
}


.separator {
    border-bottom: 1px solid rgb(8, 229, 67);
    margin: 10px 0;
}


#footer {
    text-align: center;
    margin-top: 20px;
}


.container .main-content h2 {
    color: rgb(213, 254, 8);
}


h2 + p {
    font-style: inherit;
    color: rgb(56, 244, 31);
}


h2 ~ p {
    color: rgb(245, 246, 248);
}


a:hover {
    color: rgb(166, 255, 0);
    text-decoration: underline;
}


p::first-letter {
    font-size: 150%;
    color: rgb(216, 20, 16);
}