body {
    font-family: Arial, sans-serif;
    padding: 20px;
}

h1 {
    color: #333;
}

label {
    font-size: 16px;
}

input, button {
    padding: 10px;
    margin: 10px 0;
    font-size: 16px;
}

#tablas {
    margin-top: 20px;
}

.tabla {
    margin-bottom: 20px;
}

ul {
    list-style-type: none;
    padding-left: 0;
}

ul li {
    font-size: 16px;
}
