body {
    font-family: Arial, sans-serif;
    padding: 20px;
    background-color: #f4f4f4;
}

h1 {
    color: #333;
}

label {
    font-size: 16px;
}

input, button {
    padding: 10px;
    margin: 10px 0;
    font-size: 16px;
}

#tablas {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap; 
    gap: 20px;
}

.tabla {
    background-color: #fff;
    border: 2px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 150px;
    text-align: center;
}

h3 {
    margin-top: 0;
    color: #0056b3;
}

ul {
    list-style-type: none;
    padding-left: 0;
}

ul li {
    font-size: 16px;
    padding: 5px 0;
    color: #333;
}

button {
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #45a049;
}
