#d1 {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
    max-width: 80%;
    margin: 20px auto;
    border-radius: 15px;
}

#d1 h1{
    overflow-wrap:break-word ;
    color: black;
    font-size: 75px;
    background-color:blue;
    font-family: Arial;
    padding: 20px;
    border-radius: 15px;
    border: 1px solid red;
    justify-content: center;
}

#d2 a:hover{
    color:blueviolet;
}

#d2 a{
    color:brown;
    font-family: Arial;
    font-size: 30px;
}

#d2 nav{
    background-color:chocolate;
    justify-content: space-evenly;
    margin-left: 50px;
    margin-right: 50px;
    display: flex;
    padding: 10px;
    border-radius: 20px;
    flex-wrap:wrap;
    border: 1px solid red;
}


#d3 p{
    justify-content: space-evenly;
    text-align: justify;
    display: flex;
    border-radius: 10px;
    flex-wrap:wrap;
    color:black;
    font-size: 25px;
    border-radius: 10px;
    width: 600px;
    height: auto;
    margin-left:50px;
}

#d4 img{
    width: 350px;
    margin-left:800px ;
    margin-top: -215px;
    border-radius: 20px;
}


.contenedores{
    justify-content: center;
    display: grid;
    max-width: 1000px;
    padding: 15px;
    margin: auto;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    gap: 80px;
    margin-top: 30px;
}

.python{
    background-color:rgb(218, 255, 205);
    border: 1px solid black;
    border-radius: 15px;
    text-align: justify;
    padding: 10px;
}

body{
    background-color:#1b0ce9 ;
    color: black;
    align-items: center;
    justify-content: space-between;
    font-family: Arial;
}

.titulo{
    font-size: 100px;
    font-family: Arial;
    text-align: center;
    margin-top: 50px;
}

img{
    width: 400px;
}

a{
    color: white;
}

a:hover{
    color:crimson
}

nav{
    margin-top: 50px;
    text-align: center;
}

.C{
    background-color:rgb(218, 255, 205);
    border: 1px solid black;
    border-radius: 15px;
    text-align: justify;
    padding: 10px
}

.java{
    background-color:rgb(218, 255, 205);
    border: 1px solid black;
    border-radius: 15px;
    text-align: justify;
    padding: 10px
}

.c{
    background-color:rgb(218, 255, 205);
    border: 1px solid black;
    border-radius: 15px;
    text-align: justify;
    padding: 10px
}

.cc{
    background-color:rgb(218, 255, 205);
    border: 1px solid black;
    border-radius: 15px;
    text-align: justify;
    padding: 10px
}

.script{
    background-color:rgb(218, 255, 205);
    border: 1px solid black;
    border-radius: 15px;
    text-align: justify;
    padding: 10px
}