*{
    font-family: 'Times New Roman', Times, serif;
}
h1{
    background-color: rgb(84, 75, 75);
    text-align: center;
    border-radius: 10px;
    color: azure;
    font-weight: bold;
    margin-bottom: 0px;
}
body{
    background-color: beige;
}
.principal{
    margin-top: 0px;
    color: blueviolet;
    background-color: rgb(126, 108, 136);
    border-radius: 10px;
    text-align: center;
    font-weight: bold;
    display: flex;
    justify-content: space-evenly;
}
#s1{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto auto auto;
    gap: 5px;
}
#s1 header{
    grid-column: 1 / -1;
}
#s1 main{
    grid-column: 1 / 4;
    border: 2px solid black;
    border-radius: 10px;
    margin: 5px;
    background-color: beige;
    grid-row: 2;
}
#s1 aside{
    grid-column: 4 / 5;
    /*border: 5px solid black;*/
    margin: 5px;
    background-color: rgb(211, 211, 38);
    grid-row: 2;
    border-radius: 10px;
}
#s1 footer{
    grid-column: 1 / -1;
    /*border: 5px solid black;*/
    margin: 5px;
    background-color: rgb(57, 62, 62);
    color: rgb(213, 224, 224);
    border-radius: 10px;
}
h2{
    gap: 15px;
    padding: 10px;
    background-color: rgb(42, 37, 44);
    border-radius: 10px;
    color: rgb(78, 117, 117);
    display: inline-block;
    margin-bottom: 0px;
}
.centrarh2{
    text-align: center;
}
#articulo1{
    display: flex;
}
#articulo1 h3{
    margin-left: 10px;
}
.py img{
    height: 200px;
    width: 300px;
    margin-left: -100px;
}
h3{
    color: rgb(34, 74, 66);
}
.alineacion {
    display: flex;
    flex-direction: column;
}
.alineacion p{
    text-align: center;
    margin-right: 4em;
    margin-left: -80px;
}
.centrado{
    display: flex;
    flex-direction: column;
    justify-items: center;
    text-align: center;
    list-style-position: inside;
    margin-bottom: 20px;
}
#t2 th{
    background-color: darkcyan;
    color: azure;
}
.tdnegritas {
    font-weight: bold;
}
.tdunir{
    text-align: center;
    color: darkolivegreen;
    font-weight: bold;
}
table{
    text-align: center;
    border-collapse: collapse;
    margin-left: 2em;
    margin-bottom: 1em;
    margin-right: 1em;
}
th, td {
    border: 1px solid #333;
    padding: 10px;
    text-align: center;
}
#v1 li, #d1 li{
    margin-bottom: 1em;
}
#JavaScript1 img{
    max-width: 15em;
    max-height: 25em;
}
aside a{
    color: rgb(86, 82, 54);
}
a{
    color: rgb(96, 48, 140);
}
a:hover{
    background-color: cadetblue;
}
#r1 li{
    margin-right: 1em;
    background-color: rgb(224, 223, 233);
    border: 3px solid black;
    margin-bottom: 3em;
}
#r2 li{
    margin-right: 1em;
    background-color: rgb(198, 196, 192);
    border: 3px solid black;
    margin-bottom: 2em;
}
iframe{
    margin: 5px;
    border-radius: 10px;
}