@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;800&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    background: #ebe9e4;
    font-family: 'Poppins', sans-serif;
}

.title h1 {
    padding: 20px 0;
    text-align: center;
    font-size: 2.4em;
    text-transform: uppercase;
}

.container {
    background: #ebe9e4;
    width: 90%;
    max-width: 1000px;
    margin: 1.6em auto;

    display: grid;
    gap: 1.6em;
    grid-template-columns: repeat(5, 1fr);
}

.container > .header,
.container > .content,
.container > .sidebar,
.container > .footer,
.container > div {
    background: #3F4F44;
    padding: 20px;
    border: 1px solid #000;
}

.navbar ul {
    list-style: none;
    padding: 0;
    display: flex;
    gap: 1rem;
    background-color: #2C3930;
    margin: 10px 0;
}

.navbar li {
    display: inline;
}

.navbar a {
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    display: block;
}

.navbar a:hover {
    background-color: #516e5a;
}

.navbar a {
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    display: flex;
    align-items: center;
    gap: 8px; 
}

.navbar a img {
    width: 35px;
    height: 30px;
}

.container .header,
.container .footer {
    grid-column: 1/6;
    background-color: #2C3930;
    color: #ebe9e4;
}

.container > .content {
    grid-column: span 3;
}

.content > .article {
    background: #DCD7C9;
    padding: 20px;
    margin-top: 5px;
}

.content .article h1,
.content .article p {
    padding: 10px;
}

.container > .sidebar {
    grid-column: span 2;
    background: #A27B5C;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container .sidebar img {
    width: 100%;
    margin-top: 5px;
}

.container > .related-post {
    background: #3F4F44;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s ease;
}

.container > .related-post:hover {
    cursor: pointer;
    background: #516e5a;
}