@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;800&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    background: #ebe9e4;
    font-family: 'Poppins', sans-serif;
}

.title h1 {
    padding: 20px 0;
    text-align: center;
    font-size: 2.4em;
    text-transform: uppercase;
}

.container {
    background: #ebe9e4;
    width: 90%;
    max-width: 1000px;
    margin: 1.6em auto;

    display: grid;
    gap: 1.6em;
    grid-template-columns: repeat(5, 1fr);
}

.container > .header,
.container > .content,
.container > .sidebar,
.container > .footer,
.container > div {
    background: #3F4F44;
    padding: 20px;
    border: 1px solid #000;
}

.navbar ul {
    list-style: none;
    padding: 0;
    display: flex;
    gap: 1rem;
    background-color: #2C3930;
    margin: 10px 0;
}

.navbar li {
    display: inline;
}

.navbar a {
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    display: block;
}

.navbar a:hover {
    background-color: #516e5a;
}

.navbar a {
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    display: flex;
    align-items: center;
    gap: 8px; 
}

.navbar a img {
    width: 35px;
    height: 30px;
}

.inicio {
    color: white;
    text-decoration: none;
    display: block;
    margin-left: 18px;  
}

.inicio:visited {
    color: white; 
}

.inicio:hover {
    color: #DCD7C9; 
}

.container .header,
.container .footer {
    grid-column: 1/6;
    background-color: #2C3930;
    color: #ebe9e4;
}

.container > .content {
    grid-column: span 3;
}

.content > .article {
    background: #DCD7C9;
    padding: 20px;
    margin-top: 5px;
}

.content .article h1,
.content .article p {
    padding: 10px;
}

.container > .sidebar {
    grid-column: span 2;
    background: #A27B5C;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 15px;
    gap: 15px;
}

.sidebar h3 {
    margin-top: 8px;
    margin-bottom: 12px;
    text-align: center;
    font-size: 1.3em;
}

.sidebar div {
    width: 100%;
    background-color: #A27B5C;
    padding: 8px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.container .sidebar img {
    height: auto;
    margin: 0;
}

.btn-vermas {
    margin-top: 8px;
    padding: 8px 16px;
    background-color: #2C3930;
    color: #fff;
    text-decoration: none;
    font-size: 0.95em;
    text-align: center;
    transition: background-color 0.3s ease;
}

.btn-vermas:hover {
    background-color: #516e5a;
    cursor: pointer;
}

.container > .related-post {
    text-align: center; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    height: auto; 
    padding: 10px;
    background: #3F4F44; 
}

.container > .related-post2 {
    grid-column: span 5;
    text-align: left; 
    display: flex; 
    justify-content: left; 
    align-items: center; 
    height: auto; 
    padding: 10px;
    background: #3F4F44; 
}

.container > .related-post:hover {
    cursor: pointer;
    background: #516e5a;
}

.related-post a {
    color: white;
    text-decoration: none;
    font-size: 14px;
}

.container > .related-post2 {
    grid-column: span 5;
    text-align: left; 
    display: block;  
    padding: 10px;
    background: #3F4F44;
}

.related-post2 p {
    margin-bottom: 10px;
}

.related-post2 p:first-child {
    margin-top: 0; 
}

.related-post2 p:last-child {
    margin-bottom: 0;
}

.footer {
    text-align: center;
    padding: 20px; 
    background: #2E3B32; 
    color: white; 
}