#s1 table td{
    background-color: gray; 
}

#s2 p::first-letter{
    font-family: 'Courier New', Courier, monospace;
    font-size: 50px;
}

#s3 p::first-line{
    background-color: gold;
}

header ~ h2 {
    color: brown;
}

.Hijos p {
    color: green ;
}

ul li:nth-child(odd){
    background-color: pink ;
}

ul li:nth-child(even){
    background-color: yellowgreen ;
}

ul li:first-of-type {
    font-weight: bold;
}

table tr:nth-last-of-type(2) {
    font-style: italic;
}
