#s1 h1{
    color: white;
    font-size: 50px;
    text-align: center;
    margin-top: 20px;
    background-color: #f7e359;
    padding: 20px;
    margin-left: 400px;
    margin-right: 400px;
    border-radius: 15px;
    font-family: Arial;
}

.clase_fo {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #5a5c90;
    color: white;
    font-size: 30px;
    text-align: center;
    font-family: Arial;
    padding: 10px;
    box-sizing: border-box;
    overflow: hidden;
    border-top: 2px solid #3f3f73; 
}